.ant-pagination-item, .ant-pagination-item-link {
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
}

.ant-pagination-item-active {
    color: #fff;
    background: #3E903B;
    border-color: #3E903B;
}
.ant-pagination-item:hover {
    border-color: #3E903B;
}

.ant-pagination-item-active a{
    color: #fff;
}

.dropdownAutoComplete .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: green !important;
    color: #fff;
  }

.custom-pagination-bs {
    display: flex;
}
.custom-pagination-bs .ant-pagination-options {
    display: none;
}

.custom-pagination-bs .ant-pagination-item {
    display: unset !important;
}