.site-layout {
  background: #fff;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .app-page .ant-menu {
    background: #FCFCFC;
    padding: 0rem 1rem;
  }

  .app-page .ant-menu-submenu{
    background: #FCFCFC;
    color: #000000;
  }

  .app-page .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #FCFCFC;
    color: #000000;
  }

  .app-page .ant-menu-submenu-arrow {
    color: #000000;
  }

  .app-page .ant-layout-sider-children {
    background: #FCFCFC;
  }

  .app-page .ant-menu-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* Hitam */

    color: #2C2C2C;
  }

  .app-page .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #3E903B;
    border-radius: 8px;
  }
  .app-page .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: #000000;
  }