.rightSide{
    padding-left: 15px;
   }
   
   .leftSide{
    padding-right: 15px;
    
   }
   .inputData{
       height: 50px;
       border-radius: 6px;
   }
   .row2{
       margin-bottom: 4%;
   }
   
   .labelField{
       font-weight: 600;
   }
   
   .ant-select-selection-selected-value {
       border-radius: 6px;
       height: 50px;
     }
   
   .ant-modal-footer{
       text-align: center;
       border-top: none;
   }
   
   .ant-modal-header{
       border-bottom: none;
       border-radius: 12px 12px 0 0;
   }
   .ant-modal-content{
       border-radius: 12px;
   }

   .ant-form-item {
        margin-bottom: 0 !important;
   }
   
   